<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="COM_PORT" value="COM2"/>
    <add key="USE_SIM" value="true"/>
    <add key="SERVICE_FREQUENCY" value="1500"/>
    <add key="SERVICE_DELAY_START" value="1000"/>
    <add key="API_URL" value="http://104.248.118.6/api/public/add_sms_data"/>
  </appSettings>
</configuration>